.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

#loadbox {
height: 50px;
position: absolute;
left: 35%;
top: 178;
width: 30%;
background: -webkit-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
background: -moz-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
background: -ms-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
background: -o-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
text-align: center;
font-size: 1.6em;

-webkit-transition: opacity 1.5s ease-in;
-moz-transition: opacity 1.5s ease-in;
transition: opacity 1500ms ease-in; 

}

#loadbox div {
margin-top: 7px;
}

        ::-webkit-scrollbar {
        	width: 18px;
            }

        ::-moz-scrollbar {
        	width: 18px;
            }

        ::-webkit-scrollbar-track {
	background-color: transparent;
            }
            
           ::-moz-scrollbar-track {
	background-color: transparent;
            }
 
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    -webkit-border-radius:16px;
    background-clip: padding-box;    
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
  	background-color: #dadada;
}

::-moz-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    -moz-border-radius:16px;
    background-clip: padding-box;    
	-moz-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
  	background-color: #dadada;
}

            ::-webkit-scrollbar-corner {
    background-color: transparent;
}

 ::-moz-scrollbar-corner {
    background-color: transparent;
}


div.post p img, div.post p iframe {
    float:right;
    margin-bottom:5px;
    margin-left:2px;
    margin-top:5px;
    }

a{text-decoration:none}
blockquote p {
    -webkit-margin-before:0px;-webkit-margin-after:0px;
    -moz-margin-before:0px;-moz-margin-after:0px;
    margin-top:0px;margin-bottom:0px;
    -o-margin-before:0px;-o-margin-after:0px;
    }

/*blockquote{border-left-style:solid;border-left-width:1px;margin:0.9em 0;padding-left:0.9em; }*/
body{font-size:95%;line-height:1.4;margin:0;}
blockquote{font-family:monospace;font-size:12px;line-height:1;padding-top:0px}
code,pre{font-family:monospace;font-size:12px;line-height:1.4; padding-top:1em;padding-bottom:1em}
input{
    text-align:center;
width: 100%;
height: 50px;
border: none;
background: -webkit-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
background: -moz-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
background: -ms-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
background: -o-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%);
outline:none;
}
div{margin:0;}
h1, h2, h3, h4,h5,h6{font-size:1.3em;line-height:1.4;margin-top:9px;}
hr{border:0;height:1px;margin:0;width:100%;}
hf{ul,li  margin: 0; padding: 0; }
ul {text-align: left; }
li { list-style: circle;}
a {color:#2d33af;}
a:hover, a:focus { z-index: 200; /* bring to top when the mouse is over or when it has the focus (for keyboard navigation) */ text-decoration:underline; }
a.menu_b:hover{text-decoration:none;}
a img.menu_b, a svg.menu_b { border: none; -webkit-transition: all .2s; /* in Safari, every animatable property triggers an animation in .2s */ -webkit-transform-origin: bottom;  /* in Safari, the origin for transformation */ -moz-transform-origin: bottom; transform: translateZ(0);
 /* in Firefox, the origin for transformation */ }
a img.menu_c { border: none; -webkit-transition: all .2s; /* in Safari, every animatable property triggers an animation in .2s */ -webkit-transform-origin: center;  /* in Safari, the origin for transformation */ -moz-transform-origin: center; transform: translateZ(0);
 /* in Firefox, the origin for transformation */ }
a:hover img.menu_b, a:focus img.menu_b, a:hover svg.menu_b, a:focus svg.menu_b {text-decoration:none; -webkit-transform: scale(2); -moz-transform: scale(2); /* transform property (for Safari and Firefox) */ }
a:hover img.menu_c, a:focus img.menu_c { -webkit-transform: scale(6.5); -moz-transform: scale(6.5); /* transform property (for Safari and Firefox) */ }

ul.justtags {font-weight:bold;
}

ol.notes {
    counter-reset:li;
}

div#notes {
        max-height:119px;
         -webkit-transition: all 2s ease-out 0.5s;
        -moz-transition: all 2s ease-out 0.5s;
        transition: all 2000ms ease-out 0.5s; 
        overflow:hidden;
}

div#notes:hover {
    max-height:800px;
         -webkit-transition: all 1.5s ease-in;
        -moz-transition: all 1.5s ease-in;
        transition: all 1500ms ease-in; 
}
ol.notes > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    opacity:0.3;
}
ol.notes > li:hover{
    opacity:1;
    -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        transition: opacity 500ms ease-in; 
}

a.notecount span{
    float:right;
}

ol.notes > li:before {
opacity: 0.8;
content: counter(li);
counter-increment: li;
position: absolute;
top: -2px;
left: -2em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 2em;
margin-right: 8px;
padding: 4px;
font-weight: bold;
font-family: "Helvetica Neue", Arial, sans-serif;
text-align: center;
content: counter(li);
counter-increment: li;
position: absolute;
top: -2px;
left: -2em;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 2em;    /* Some space between the number and the content in browsers that support generated content but not positioning it (Camino 2 is one example)*/
margin-right: 8px;
padding: 4px;
border-bottom: 3.5px solid rgba(36, 97, 140, 0.69);
color: #E7FFFC;
background: rgba(36, 97, 140, 0.59);
font-weight: bold;
font-family: "Helvetica Neue", Arial, sans-serif;
text-align: center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

ol.notes li span.action{
    opacity:0.3;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease ;
    transition: opacity 500ms ease; 
}

ol.notes li span.action:hover{
    opacity:1;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease ;
        transition: opacity 500ms ease; 
}

ol.notes li span.action a:hover{
    text-decoration:none;
}

ul,
    li {
        margin: 0;
        padding: 0;  list-style: circle;
    }
    }
    ul.menu_b, ul.menu_c li{
    	display: inline; list-style: none;
	}
	ul.menu_b, ul.menu_c, ul.pagenumbering {
            	text-align: center;

	}
	l.menu_b, l.menu_c {
		left: 0;
	}
	ul.menu_b, ul.menu_c {
		bottom: 0;
		width: 100%;
	}
	a:hover.menu_b, a:hover.menu_c,
	a:focus.menu_b, a:hover.menu_c { /* we use :focus for keyboard navigation */
		z-index: 200 /* bring to top when the mouse is over */
	}

	ul.menu_b a img, ul.menu_b a svg{
        
        
            	border: none;
    	-webkit-transition: all .2s; /* in Safari, every animatable property triggers an animation in .2s */
		-webkit-transform-origin: bottom;
		-moz-transform-origin: bottom;
	}
    ul.menu_c a img{
                border: none;
    	-webkit-transition: all .2s; /* in Safari, every animatable property triggers an animation in .2s */
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
	}
    a:hover.menu_b img,
	a:focus.menu_b img,
	a:hover.menu_b svg,
	a:focus.menu_b svg{
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
	}
    a:hover.menu_c img,
    a:focus.menu_c img {
		-webkit-transform: scale(6.25);
		-moz-transform: scale(6.25);
    
}

a#explanation.hover {
    text-decoration:none;
}

#responselist {
    user-select: all;
    width:80%;
    line-height:2;
}

#responselist > em {
position: absolute;
left: 60%;
white-space: nowrap;
}

img{vertical-align:bottom;}
input{font-size:1em;}
ol,ul,dd{padding:0 0 0 1.8em;}
ol,ul,dd,p{margin:1em 0;}

blockquote{font-size:120%; display: block;padding-top:0px;padding-bottom:0px;
    -webkit-margin-before:0px;-webkit-margin-after:0px;
    -moz-margin-before:0px;-moz-margin-after:0px;
    margin-top:0px;margin-bottom:0px;
    -o-margin-before:0px;-o-margin-after:0px;
    
    -webkit-margin-start:0px;-webkit-margin-end:0px;
    -moz-margin-start:0px;-moz-margin-end:0px;
    margin-start:0px;margin-end:0px;
    -o-margin-start:0px;-o-margin-end:0px;}
blockquote{background-color:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5FBEF), color-stop(50%,#E0F8E0), color-stop(51%,#E6F8E0), color-stop(100%,#F5FBEF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%); /* Chrome10+,Safari5.1+ */;
background:    -moz-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%); /* Chrome10+,Safari5.1+ */;
background:    -ms-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%); /* Chrome10+,Safari5.1+ */;
background:     -o-linear-gradient(bottom, #E0FFE8 12%, #E0FFE7 30%, #E5FFEC 49%, #EAFCED 70%, #F5FFF7 100%); /* Chrome10+,Safari5.1+ */;
border-style:solid;border-width:0px;overflow:hidden;padding-left:0.9em;padding-right:0.9em;white-space:pre-wrap;} /* #page */ #page{margin:1.8em 2.4em 1.2em 2.4em;}#page 
em.highlight,#page 
span.highlight{background:rgba(255,231,102,0.72);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}#page 
span.den{font-size:75%;}#page 
span.num{font-size:75%;vertical-align:2ex;} /* #header */ #header,#footer{padding:1.8em;}#header 
a#home{display:block;height:16px;left:2.4em;margin:0 0 0 -8px;position:fixed;width:20px;}#header 
a#home img{vertical-align:baseline;width:20px;opacity:0.6;            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius:50px;
            }#header 
a#home:hover img{
vertical-align: middle;
width: 45px;
opacity: 0.8;
margin-left: -18px;
margin-top: -12px;
}#header 
a#top{display:block;height:7.2em;left:0;padding-right:8px;position:absolute;top:0;width:2.4em;z-index:1001;}#header 
h1,#header 
h2{font-size:1em;font-weight:normal;margin:0;}

        #button {  
            opacity:0.3;
            color: transparent;
            line-height: 8px; 
            font-size: 8px; 
            -webkit-transition: all 0.6s ;
            -moz-transition: all 0.6s ;
            transition: all 500ms;  
 }
 
 #button:hover { 
            opacity:1;
            text-decoration:none;
                      color: black;

               
             
    
  }

#header #info{padding-top:0.9em;}#header #description,#header #right,#header #search,#footer #anylastwords{width:500px;}#header #description,#page.indexpage #content .post_odd{clear:left;float:left;}#header #right,#page.indexpage #content .post_even{clear:right;float:right;}#header ul#enabled li a[href*="/tggd_"]:before,#content .post > .info a.tag:before{
content: "ï¼ƒ";
opacity: 1;
text-shadow: #175F0A 1px 1px 0px;
margin-right: 11px;
color: #fff;
background: #81B681;
font-weight: bold;
padding-left: 6px;
padding-right: 7px;
padding-top: 4px;
padding-bottom: 5px;
line-height: 2;
border-radius: 100% 1px;
padding-left: 6px;
padding-right: 7px;
padding-top: 4px;
padding-bottom: 5px;
line-height: 2;
    }
    
    #content .post > .info a.tag:hover:before{
border-radius: 80% 0px;
    }
    
    a.tag {
        text-decoration:none;
        opacity:1;
    -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        transition: opacity 500ms ease-in; 
    }
    
    
#header #search form input[type="text"] {
-webkit-appearance:none;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
width:100%;
border-style:solid;
border-width:1px;
margin:.9em 0;
padding:.9em;
}

#header ul#enabled li,#content ol#permalinkpagination li {
display:inline;
list-style-type:none;
padding-right:1.8em;
}

#header ul#enabled {
clear:both;
margin:0;
padding:.9em 0 0;
}

#content {
clear:both;
padding:0 1.8em;
}

#content h1 a,#content h2 a {
text-decoration:none;
}

#content ol#permalinkpagination,#content .post > .info ul.tags,#content .post_audio p.metadata span.trackname {
display:block;
margin:.9em 0;
padding:0;
}

#content ol#permalinkpagination {
margin-bottom:2.7em;
}

#content .post {
margin-bottom:5.4em;
width:100%;
}

#content .post:not(.post_link) h1 a,#content .post:not(.post_link) h2 a {
color:#000;
}

#content .post_answer p.asker span:after {
content:":";
}

#content .post_answer p.question {
border-style:double;
border-width:3px;
padding:.9em;
}

#content .post_audio p.metadata span.album:before,#content .post_quote div.source:before {
content:"\2014";
margin-left:.9em;
margin-right:.9em;
white-space:nowrap;
}

#content .post_audio p.metadata span.trackname,#content .post_chat .label {
font-weight:700;
}

#content .post_audio p.audioplayer .audio_player {
height:27px;
margin-bottom:.9em;
width:207px;
border-style:solid;
border-width:1px;
}

#content .post_audio p.audioplayer span.download {
margin-left:1.8em;
}

#content .post_chat span.label {
margin-right:.9em;
}

#content .post_link h1 a span:after,#content .post_link h2 a span:after {
content:"\2192";
padding-left:.45em;
}

#content .post_photo p.container {
position:relative;
}

#content .post_photo p.container a {
display:block;
}

#content .post_quote h1,#content .post_quote h2 {
font-family:monospace, sans-serif;
font-size:2.2em;
font-weight:400;
line-height:1.2;
}

#content .post_text a.readmore span:after {
content:"\2026";
}

#content .post > .info {
margin:.9em 0;
}

#content .post > .info a {
margin-right:1.8em;
}

#content .post > .info ul.tags li {
list-style-type:none;
}

#content .post > .info ul.tags li a {
margin-right:0;
}

#content #notes {
margin-bottom:5.4em;
margin-top:-1.2em;
width:75%;
}

#content #notes ol.notes {
list-style-type:none;
background:0;
font-size:18px;
padding-top:.7em;
padding-bottom:.5em;
padding-left:.7em;
line-height:1.1;
}

#content #notes ol.notes li.more_notes_link_container {
margin-top:.9em;
text-align:left!important;
}

#footer {
clear:both;
text-align:center;
}

#footer #anylastwords {
margin:0 auto;
}

#footer ul {
padding:0;
}

#footer ul li {
display:inline;
margin-left:.9em;
margin-right:.9em;
}

#page.indexpage #content .post_photo .html_photoset {
overflow:hidden;
}

#page.permalinkpage #header {
padding-bottom:0;
}

#page.permalinkpage #content {
padding-bottom:.9em;
}

#page.permalinkpage #content .post_photo p.container a.linkurl {
height:100%;
position:absolute;
text-decoration:none;
width:100%;
}

#page.permalinkpage #content .post_photo p.container a.linkurl:before {
content:"\2192";
padding-left:.45em;
padding-right:.45em;
}

#page.permalinkpage #content .post_photo p.container a.linkurl code {
display:inline;
filter:alpha(opacity=0);
opacity:0;
text-decoration:none;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-webkit-transition:all .2s ease;
transition:all .2s ease;
}

#page.permalinkpage #content .post_photo p.container a.linkurl:hover code {
filter:alpha(opacity=100);
opacity:1;
}

#page.permalinkpage #content .post_quote h1 {
font-size:3em;
width:100%;
}

#page.permalinkpage #content .post_quote h1.long a {
font-size:80%;
}

#page.permalinkpage #content .post_quote h1.medium a {
font-size:90%;
}

a:active,hr,#header ul#enabled a[href*="/tggd_"],#content ol#permalinkpagination a,#content .post > .info a,#content .tumblrAutoPager_page_info a,#content #notes ol.notes li.more_notes_link_container a,#footer ul a {
color:#1b7850;
text-shadow:1px 1px #ccc;
}

#header #search,#header #search form input[type="submit"],#content .dashboard:not(.post),#content .post_answer p.asker img,#content .post_photo p.container a.linkurl[href=""],#page.indexpage #content .post_photo p.container a.linkurl,#page.permalinkpage #content .post_photo p.container a.linkurl code,#content #notes ol.notes img.avatar,#page.indexpage #content .post > .info ul.tags,#page.permalinkpage #header #info,#page.permalinkpage #footer {
display:none;
}

#content .post img,#page.indexpage #content .post img {
max-width:100%;
}

body,input,#header h1,#header h2{

font-family:monospace;
font-weight:normal;

}
h1,h2,h3,h4,h5,h6{font-family: monospace;}hr{background-color:#1b7850;}#content .post_answer p.question,#page.searchpage #header #search.zero form input[type="text"]{border-color:#1b7850;}#content .post.reblog .info a.permalink:before{content:"Reblogged ";} /* Booleans */ #header h1#title,#header h2#title{display:none;}#header #info{padding-top:0;}#page.permalinkpage #content ol#permalinkpagination{margin-top:0;}@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:100%;}} 

#github {
  position: absolute;
  right: 12px;
  top: 12px;
}

#github:hover svg *{
  fill: rgb(83, 118, 223);
}
